<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/cargos">Cadastro de Cargos</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-submit="cargoCtrl.pesquisar(perquisa)">
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="perquisa.texto" placeholder="Pesquisa">
				</div>
				<button type="submit" class="btn btn-default">Buscar</button>
			</form>
			<div class="navbar-right">
				<button type="button" class="btn btn-info navbar-btn" ng-click="cargoCtrl.adicionar()">
					Novo Cargo
				</button>	
			</div>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Nível</th>
			<th>Sigla</th>
			<th>Descrição</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cargo in cargoCtrl.listaDeCargos" ng-click="cargoCtrl.habilitarEdicao(cargo)">
			<td>
				{{cargo.codigo}}
			</td>
			<td>
				{{cargo.nome}}
			</td>
			<td>
				{{cargoCtrl.obterNomeDoNivel(cargo.nivel)}}
			</td>
			<td>
				{{cargo.sigla}}
			</td>
			<td>
				{{cargo.descricao}}
			</td>
			<td>
				<button type="button" class="btn btn-danger" ng-click="cargoCtrl.excluir($event, cargo.codigo)">
					<i class="fa fa-trash"></i>
					Excluir
				</button>
			</td>
		</tr>
	</tbody>
</table>